:root {
  --font-primary: "Noto Sans, Arial, sans-serif", sans-serif;
  --color-primary: rgb(0, 149, 246);
  --color-primary-text: rgb(38, 38, 38);
  --color-secondary-text: rgb(142, 142, 142);
  --color-white: rgb(255, 255, 255);
  --color-main-bg: rgb(250, 250, 250);
  --color-border: rgb(219, 219, 219);
  --color-gray: rgb(239, 239, 239);
  --color-bg-blue-5: #ecf3ff;
  --color-error: #f3425f;
  --color-success: #45bd62;
  --color-warning: #f7b928;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  color: var(--color-primary-text);
  font-size: 16px;
  line-height: 1.34;
  background-color: var(--color-main-bg);
}

ul {
  list-style: none;
}

.btn {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.2;
  cursor: pointer;
  white-space: nowrap;
}

.container {
  max-width: 975px;
  margin: 0 auto;
}

.input-control {
  outline: none;
  border: 1px solid transparent;
  background-color: var(--color-gray);
  height: 35px;
  width: 100%;
  border-radius: 6px;
  color: var(--color-primary-text);
  font-weight: 400;
  padding: 10px;
  font-size: 1rem;
}

/* custom scroll bar */
.scrollbar {
  scrollbar-width: thin;
  overflow-y: auto;
  overflow: hidden;

  &:hover {
    overflow-y: auto;
  }
}
.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 16px var(--color-main-bg);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 7px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 16px rgba(228, 217, 217, 0.041);
  background-color: #ccc;
}
